# 01.intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 + 아래로 이동
- alt + enter : 지금 셀 실행 + 아래에 새로운 셀 추가

In [1]:
# 주석입니다.

## 1. 변수

변수이름 = 값

- 변수 이름은 어떤 이름이든 상관 없음
- 영어, 숫자, '_' 를 이용하여 선언
- 키워드는 사용불가

In [2]:
a = 10

In [3]:
a

10

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [5]:
a = 100000

In [6]:
a

100000

In [7]:
type(a)

int

In [8]:
b = 1.1

In [9]:
b

1.1

In [10]:
type(b)

float

In [11]:
c = 1-4j

In [12]:
c

(1-4j)

In [13]:
type(c)

complex

In [14]:
c.imag

-4.0

In [15]:
c.real

1.0

### 1.2 Boolean

'true','false' 로 이루어진 타입

In [16]:
a = True

In [17]:
type(a)

bool

### 1.3 None

In [18]:
a = None

In [19]:
type(a)

NoneType

### 1.4 string

- 문자열은 '', "" 를 이용하여 표현

In [20]:
a = 'hello'

In [21]:
type(a)

str

In [22]:
b = "world"

In [23]:
type(b)

str

In [24]:
age = input() #표준입력

 12

In [25]:
age

'12'

In [26]:
type(age)

str

In [27]:
print('안녕하세요? 전원영입니다.')

안녕하세요? 전원영입니다.

In [28]:
print("안녕하세요? '전원영'입니다.")

안녕하세요? '전원영'입니다.

In [29]:
print('안녕하세요? \'전원영\'입니다.')

안녕하세요? '전원영'입니다.

In [30]:
a = '''
여기는 \n문자열 입니다.
여러\t줄을 작성 할 수 있어요.
'''

In [31]:
print(a)

여기는
문자열 입니다.
여러	줄을 작성 할 수 있어요.

In [32]:
print('하나', '둘', '셋') #표준출력

하나 둘 셋

### string interpolation

문자에 변수를 집어넣는 방법

1. %_formatting
2. str.format()
3. f.string (3.6버전 이상) - 추천!

In [33]:
print('홍길동은 10살입니다.')

홍길동은 10살입니다.

In [34]:
age = 10

In [35]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [36]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [37]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 2. 연산자

### 2.1 산술연산자

In [38]:
a = 2
b = 3

In [39]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

5
-1
6
0.6666666666666666

In [40]:
print(a ** b) #a를 b만큼 곱해주세요(지수)

8

In [41]:
print(a // b) #a를 b로 나눈 몫 출력
print(a % b) #a를 b로 나눈 나머지 출력
print(divmod(a, b)) #mod 함수를 사용해 몫, 나머지 둘다 출력 가능

0
2
(0, 2)

### 2.2 비교연산자

In [42]:
a = 5
b = 10

In [43]:
print(a > b)

False

In [44]:
print(a < b)

True

In [45]:
print(a == b) #a와 b가 같은지
print(a !=b) #a와 b가 다른지
#이 두 함수는 문자도 비교 가능

False
True

In [46]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3 논리연산자
- and : 양쪽 모두 'True' 일때 'True' 를 반환
- or : 양쪽 모두 'False' 일때, 'False' 를 반환

In [47]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#둘다 True 면 True, 둘중의 하나라도 False 면 False

True
False
False
False

In [48]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)
##둘중의 하나라도 True 면 True, 둘다 False 면 False

True
True
True
False

In [49]:
print(True)
print(not True)

a = True
print(not a)

True
False
False

In [50]:
#단축평가 and
print(3 and 5) #앞이 true 라서 뒤의 값 5를 출력
print(3 and 0) #앞이 true 라서 뒤의 값을 출력(0이라는 데이터 출력)
print(0 and 5) #뒤에 것은 보지도 않고 그냥 0(false 취급)
print(0 and 0) #뒤에 것은 보지도 않고 그냥 0(false 취급)

5
0
0
0

In [51]:
#단축평가 or
print(3 or 5) #앞이 true 면 그냥 true, 3출력
print(3 or 0) #앞이 true 면 그냥 true, 3출력
print(0 or 5) #앞의 값은 false라서 뒤의 값 5출력
print(0 or 0) #앞의 값이 false라서 뒤의 값 0출력

3
3
5
0

### 2.4 복합연산자

In [52]:
a = 2
b = 3

In [53]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [54]:
print(a)

0.0

In [55]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

0.0

### 2.5 기타연산자

In [56]:
a = 'hi'
b = 'hello'

In [57]:
#concatenation : 연결하다
a + b

'hihello'

In [58]:
a = [1, 2, 3]
b = [9, 8, 7]

In [59]:
a + b

[1, 2, 3, 9, 8, 7]

In [60]:
#같은 타입의 데이터만 + 가능

In [61]:
#containment : 포함 관계
print('a' in 'apple') #in : 뒤의 데이터에 앞의 데이터가 속해있는지 확인하는 함수
print('z' in 'apple')

True
False

In [62]:
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

In [63]:
a = 123123
b = 123123
print (a is b)

False

In [64]:
a = 10
b = 10
print (a is b)

True

### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자(is, in)
5. not
6. and, or

In [65]:
print((-3) ** 4)
print(-3 ** 4)

81
-81

## 3. 형변환
### 3.1 암시적 형변환

In [66]:
a = True
b = False
c = 1

In [67]:
print(a + c)
print(b + c)

2
1

In [68]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [69]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [70]:
a = 1
b = '번'

In [71]:
a + b #type이 같지 않아 생기는 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
print(str(a) + b) #모두 문자열로 변환

1번

In [73]:
a = '100'

In [74]:
print(int(a))

100

In [75]:
age = int(input()) #변수의 type을 int로 고정
print(type(age))

 30

<class 'int'>

In [76]:
a = '3.3'

In [77]:
type(int(a)) #3.3은 float 형태이므로

ValueError: invalid literal for int() with base 10: '3.3'

In [78]:
type(float(a))

float

In [79]:
a = 1
b = 0
c = 100

In [80]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [81]:
print(bool(''))
print(bool('apple'))

False
True

In [82]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

# 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되어 있다는 것과 정렬되어있다는 다름)

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 list(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [83]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [84]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-1])

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
부산
['서울', '대전', '제주']

### 4.2 Tuple
 - 선언 : 변수이름 = (value1, value2, value3)
 - 접근 : 변수이름[index]
 - List 와 유사하지만 수정불가능(immutable)하다.

In [85]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [86]:
# t[2] = 100 와 같이 수정이 불가능하다

In [87]:
result = divmod(9, 4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [88]:
x, y = (1, 2)
print(x, y)

x, y = (y, x)
print(x, y)

1 2
2 1

### 4.3 range
범위변수를 만들때 사용
- range(n) : 0부터 n-1까지의 범위
- range(n, m) : n부터 m-1까지의 범위
- range(n, m, s) : n부터 m-1까지의 범위, +s 만큼 증가하는 범위

In [89]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [90]:
r = range(5, 15)
print(r)

range(5, 15)

In [91]:
r = range(5, 15, 2)
print(r)

range(5, 15, 2)

In [92]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [93]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [94]:
#indexting
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [95]:
#slicing
print(my_list[1:3])
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [96]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [97]:
print(my_list[:3])
print(my_list[3:])

[1, 2, 3]
[4, 5]

In [98]:
# in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
False
True
True

In [99]:
# not in
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('일' not in my_string)

False
True
False
False

In [100]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [101]:
# *
print(my_string * 3)
print(my_list * 3)

print([0] * 10)
print([[0] *10] * 10) # 행렬 생성시 이용

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [102]:
len(my_list)

5

In [103]:
min(my_tuple)

11

In [104]:
max(my_range)

9

In [105]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조
### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [106]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [107]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) #합집합 파이프 기호 : shift + \
print(my_set_a & my_set_b) #교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [108]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8}

### 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictyionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값을 사용가능.(불변값 : string, integer...)
- vlaue에는 모든 데이터 가능.(list, dict도 가능)

In [109]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [110]:
dict_a = {
    'name': 'wonyoung', 
    'age': 10,
    'location': 'seoul',
    'numbers': [1, 2, 3, 4, 5], 
    'friends': {
        'a' : 10,
        'b' : 11,    
    },
}

print(dict_a['age'])
print(dict_a['numbers'])
print(dict_a['friends']['b'])

10
[1, 2, 3, 4, 5]
11

In [111]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [112]:
dict_a.values()

dict_values(['wonyoung', 10, 'seoul', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

## 데이터 타입

1. Number
2. Boolean
3. string

## 자료구조

- 시퀀스 자료
  1. [List] : mutable
  2. (Tuple) : immutable
  3. range() : immutable
  4. 'String' : immutable

- 시퀀스가 아닌 자료형
  1. {set} : mutable
  2. {Dict: ionary} : mutable