In [3]:
dir(1) #객체가 갖고 있는 기능들

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 문자열 메소드(메소드 : 객체 안에 들어있는 함수)

In [13]:
a = 'hello my name is wonyoung'

In [5]:
print(a)

hello my name is wonyoung

In [9]:
print(a[0]) #white space도 하나의 데이터

h

In [10]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [11]:
#문자열은 일부 수정은 안되므로 전체 데이터를 재할당 필요
a = 'Hello my name is wonyoung'

In [16]:
#시작하는 문자를 대문자로 변환해주는 기능(원본 데이터는 변함 X)
a.capitalize()
#원본데이터를 바꾸려면 이 함수 자체를 할당
a = a.capitalize()

Hello my name is wonyoung

In [19]:
a.title()

'Hello My Name Is Wonyoung'

In [23]:
my_list = ['hi', 'my', 'name']
''.join(my_list)

'himyname'

In [30]:
#.strip([chars])
#[chars를 넣어도 되고 안넣어도 된다는 의미 : 기본값 or 가변인자]

my_string = '         hello\n      '
print(my_string)
print(my_string.strip())
my_string2 = 'hihihihihihihihellohihihihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

         hello

hello
ello
ellohihihihihihi
hihihihihihihihello

In [32]:
# .replace(old, new[, count])
a = 'woooooooooow'
a.replace('o', '!', 3)

'w!!!ooooooow'

In [45]:
# .find(x)
a = 'apple'
print(a.find('a'))
print(a.find('p'))
print(a.find('e'))
print(a.find('z'))

for i in range (len(a)):
    if'p' == a[i]:
        print(i)
        break
else:
    print(-1)

0
1
4
-1
1

In [46]:
#.index(x)
a = 'apple'
print(a.index('a'))
print(a.index('z'))
#find와 동일한 함수지만, 찾는게 없는 경우 나오는 출력이 다름(find는 -1, index는 에러 출력)

0

ValueError: substring not found

In [48]:
# .split(x) : 기본적으로 문자열을 공백 기준으로 쪼개서 리스트화
a = 'my name is'
a.split()

['my', 'name', 'is']

In [50]:
# .count(x) : 문자열에서 x의 갯수
'wooooooooow'.count('o')

9

# 리스트 메소드

In [60]:
numbers = [5, 4, 7, 1, 2]

In [61]:
# .append(x) 리스트에 x을 추가하는 함수
numbers.append(10) 
print(numbers)

[5, 4, 7, 1, 2, 10]

In [62]:
# .extend(iterable)
a = [99, 110]
numbers.extend(a)
print(numbers)
print(numbers + a)

[5, 4, 7, 1, 2, 10, 99, 110]
[5, 4, 7, 1, 2, 10, 99, 110, 99, 110]

In [63]:
# .insert(idx, x) 특정한 idx위치에 x를 삽입
numbers.insert(3, 3.5)
print(numbers)

[5, 4, 7, 3.5, 1, 2, 10, 99, 110]

In [68]:
# .remove(x) x를 삭제
numbers.remove(3.5)
print(numbers)

[5, 4, 7, 1, 2, 10, 99, 110]

In [71]:
# .pop(idx) idx위치에 있는 숫자 하나 사라짐
numbers.pop()
print(numbers)

numbers.pop(0)
print(numbers)

numbers.pop() #뭘 뺏는지 알려준다.

[4, 7, 1, 2]
[7, 1, 2]

2

In [72]:
num = numbers.pop()
print(num)

1

In [75]:
# .sort 오름차순으로 정렬
numbers = [5, 4, 7, 1, 2]
print(numbers)

print(numbers.sort()) # return 만 none일뿐 원본데이터는 정렬 완료

print(numbers)

print(numbers.sort(reverse = True)) #내림차순으로

print(numbers)

[5, 4, 7, 1, 2]
None
[1, 2, 4, 5, 7]
None
[7, 5, 4, 2, 1]

In [78]:
numbers = [5, 4, 7, 1, 2]
print(sorted(numbers)) #원본 데이터 유지
print(numbers)

[1, 2, 4, 5, 7]
[5, 4, 7, 1, 2]

In [83]:
# .reverse() 단순히 순서를 바꾼다(거꾸로)
numbers = [5, 4, 7, 1, 2, 8, 5, 6, 9, 2, 4, 1, 10]
print(numbers) #원본
numbers.reverse() #역순
print(numbers) #역순
numbers = numbers[ : : -1] #reverse와 비슷한 기능
print(numbers)

[5, 4, 7, 1, 2, 8, 5, 6, 9, 2, 4, 1, 10]
[10, 1, 4, 2, 9, 6, 5, 8, 2, 1, 7, 4, 5]
[5, 4, 7, 1, 2, 8, 5, 6, 9, 2, 4, 1, 10]

## list copy

In [85]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [87]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [88]:
copy_list[0] = 100

In [89]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [90]:
a = [1, 2, 3]
b = list (a) # b = a[:]같은 의미

b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [91]:
a = [1, 2, [99,100]]
b = a[:]

b[2][1] = 1000
print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [92]:
import copy 
a = [1, 2, [99,100]]
b = copy.deepcopy(a) #리스트 안에 리스트가 있는 경우 독립적인 복제가 필요할 경우 사용

b[2][1] = 1000
print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [93]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
#[1, 8, 27, ..., 1000] for 문을 사용해서 세제곱 만들기
result = []

for number in numbers:
    result.append(number**3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [95]:
#[1, 8, 27, ..., 1000] list comprehension기능으로 세제곱 만들기
result2 = [ number ** 3 for number in numbers ] # [결과값 / for문] 조합
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [96]:
# 짝수만 고르기
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)

print(even_list)

[2, 4, 6, 8, 10]

In [99]:
# list comprehension기능으로 짝수만 고르기
even_list2 = [ number for number in numbers if number % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [106]:
words = 'my name is hong'
vowels = 'aeiou'

#모음만 다 빼기

In [117]:
# 1. for문
words = 'my name is hong'
vowels = 'aeiou'

for vowel in vowels:
    words = words.replace(vowel,'')

print(words)

my nm s hng

In [118]:
result = []
for char in words:
    if char not in vowels:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [119]:
# 2. list comprehension기능
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [120]:
words = 'My Name Is Hong'
vowels = 'aeiouAEIOU'

result = [char for char in words if char not in vowels if char.isupper()]
print(result)
print(''.join(result))

['M', 'N', 'H']
MNH

In [121]:
result2 = ''.join([char for char in words if char not in vowels])
print(result2)

My Nm s Hng

# 딕셔너리 메소드

In [143]:
info= {
    'name': 'wonyoung',
    'location': 'seoul',
}

In [139]:
info['name'] = 'jun'
print(info)

{'name': 'jun', 'location': 'seoul'}

In [145]:
# .pop(key[, default]) : 데이터 제거시 사용, key가 없으면 default 값 출력
print(info) #실행시 삭제되는 데이터 조회
print(info.pop('location')) #실행 완료 후 데이터 조회

print(info)
print(info.pop('location',None))

{'name': 'wonyoung', 'location': 'seoul'}
seoul
{'name': 'wonyoung'}
None

In [146]:
# .update(key=value) : 값 수정
info.update(name = 'park')
print(info)

{'name': 'park'}

In [147]:
# .get(key[, defalut]) : 값 추가??에러 뜨는 경우 확인 하기
print(info.get('name'))
print(info.get('phone'))
print(info.get('phone','해당키가 없습니다.'))

park
None
해당키가 없습니다.

## dict comprehension

In [148]:
#for
#{1: 1, 2: 8...}
result = {}
numbers = range(1,11)
for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [151]:
# dict comprehension
result2 = { number: number ** 3 for number in range(1,11)}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [167]:
dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20, 
}
#50이상만 남게

In [168]:
#for문
result = {}
for k,v in dust.items():
    if v >= 50:
        result[k] = v

print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [170]:
# dict comprehension
result2 = { k:v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 50, '광주': 80}

In [171]:
# dict comprehension
result2 = { k:'나쁨' for k, v in dust.items() if v >= 50} #value값 수정 가능
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

# 세트 메소드

In [173]:
fruits = {'apple', 'banana', 'melon'}

In [187]:
# .add(x) : 추가
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon') #세트 특성상 중복 데이터가 없어서 2번 이상 추가는 안됨, 순서가 없는 데이터
print(fruits)

{'grape', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}
{'grape', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}

In [194]:
# .update(set) : add와 비슷하지만, 단어 자체를 하나하나 넣어준다.
fruits.update('grape') #하나하나 잘라져서 들어간다
print(fruits)
fruits.update({'grape'}, {'orange'})#여러개의 데이터를 추가하기에 좋다.
print(fruits)

{'e', 'grape', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}
{'e', 'grape', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'orange', 'g'}

In [195]:
# .remove(x) : 여러개 삭제 불가, 
fruits.remove('orange')
print(fruits)
fruits.remove('grape')
print(fruits)

{'e', 'grape', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}
{'e', 'melon', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}

In [196]:
# .pop()
fruits. pop()
print(fruits) #뭐가 빠질지 모름

{'e', 'apple', 'r', 'banana', 'p', 'a', 'watermelon', 'g'}

## map, filter, zip

- map(function, iterable)

In [192]:
a = [1, 2, 3]
number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x00000274D4E8B640>
['1', '2', '3']

In [203]:
result = []
for i in a:
    result.append(i ** 3)

print(result)

[1, 8, 27]

In [204]:
def cube(x):
    return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [205]:
result2 = (map(cube, a))
print(list(result2))

[1, 8, 27]

In [208]:
a = '1 3 5 7 9'
#numbers = [1, 3, 5, 7, 9]
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(funtion, iterable)
    - filt에 들어가는 funtion은 T/F를 반환해야 합니다.

In [210]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False
print(is_odd(5))
print(is_odd(10))

True
False

In [212]:
numbers = [1, 2, 3, 4, 5]

In [213]:
#for
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)

print(result)

[1, 3, 5]

In [214]:
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip : 갯수가 같아야 함, (다르면 작은 데이터 수를 기준으로 함)

In [216]:
a = [1, 2, 3]
b = [100, 200, 300]

In [217]:
result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x00000274D6233EC0>
[(1, 100), (2, 200), (3, 300)]